* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Temp img sizing */
.header-container img {
    width: 400px;
    height: auto;
}

.random-info-item {
    width: 220px;
}

.random-info-item img {
    width: 180px;
    height: auto;
}